################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeepSound/FileContentIndex/a392781f-b6b2-4038-9869-6139192f44f0.vsidx
*.vsidx
