################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
/.vs/
*.vsidx
*.suo
*.user

# Build outputs
bin/
obj/
out/
publish/

# NuGet packages
packages/
*.nupkg

# macOS
.DS_Store

# IDE
.idea/
*.swp
*.swo
